<!DOCTYPE HTML>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="pragma" content="no-cache" />
<meta http-equiv="cache-control" content="max-age=604800" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<meta name="description" content="Bootstrap e-commerce html template similar to Alibaba">
<meta name="keywords" content="Online template, shop, theme, template, html, css, bootstrap 4">

<title>Website title - bootstrap alistyle html template</title>

<link href="images/favicon.ico" rel="shortcut icon" type="image/x-icon">

<!-- jQuery -->
<script src="js/jquery-2.0.0.min.js" type="text/javascript"></script>

<!-- Bootstrap4 files-->
<script src="js/bootstrap.bundle.min.js" type="text/javascript"></script>
<link href="css/bootstrap.css" rel="stylesheet" type="text/css"/>

<!-- Font awesome 5 -->
<link href="fonts/fontawesome/css/all.min.css" type="text/css" rel="stylesheet">

<!-- custom style -->
<link href="css/ui.css" rel="stylesheet" type="text/css"/>
<link href="css/login.css" rel="stylesheet" type="text/css"/>
<link href="css/responsive.css" rel="stylesheet" type="text/css" />

<!-- custom javascript -->
<script src="js/script.js" type="text/javascript"></script>

</head>
<body>


<%- include("partial/menu")%>

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y">
<div class="container">

<div class="row">

	<main class="col-md-7">
		<h3>carrito</h3>
		<hr class="col-sm-10 ml-0">

		<article class="">
			<div class="">

		<div class="row">

			<% for (var i = 0; i < basket.length; i++) { %>
				
				<div class="col-md-10 card my-2 p-3">
					<figure class="itemside mb-4">
						<div class="aside"><img src="/public/products/<%= basket[i].images[0]%>" class=" img-md"></div>
						<figcaption class="info">
							<a href="/product/<%= basket[i].product_name%>?q=<%= basket[i].id%>" class="title"><%= basket[i].product_name%></a>
							<p class="price mb-2">$<%= basket[i].product_price.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,')%></p>
							<a href="#" class="btn btn-danger"> Comprar </a>
							<a href="#" class="btn btn-secondary shopping-cart" id="<%= basket[i].id%>"> <i class="fa fa-times"></i> </a>

						</figcaption>
					</figure>
				</div> <!-- col.// -->

			<% } %>

			</div> <!-- card-body.// -->
		</article>


	</main> <!-- col.// -->


	<main class="col-md-5">
		<h3>compras</h3>
		<hr>
		<article class="">
			<div class="">

		<div class="row">

			<% for (var i = 0; i < shopping_data.length; i++) { %>
				
				<div class="col-md-12 card my-2 p-3">
					<figure class="itemside mb-4">
						<div class="aside"><img src="/public/products/<%= shopping_media[i].images[0]%>" class=" img-md"></div>
						<figcaption class="info">
							<a href="/product/<%= shopping_media[i].product_name %>?q=<%= shopping_media[i].id%>" class="title"><%= shopping_media[i].product_name%></a>



							<p class="price mb-2 badge d-block text-left">CANTIDAD: <%= shopping_data[i].quantity%></p>

							<p class="price mb-2 badge d-block text-left">PRECIO DEL PRODUCTO: <%= shopping_media[i].product_price.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,')%></p>

							<p class="price mb-2 badge d-block text-left">TOTAL A PAGAR: $<%= (shopping_media[i].product_price * shopping_data[i].quantity).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,')%></p>
							
							<p class="price mb-2 badge d-block text-left">ESTADO: <%= shopping_data[i].status%></p>

							<form action="/delete-shopping?product_id=<%= shopping_data[i].product_id%>" method="POST">
								<button type="submit" class="btn btn-sm btn-danger">Eliminar Compra</button>
							</form>

						</figcaption>
					</figure>
				</div> <!-- col.// -->

			<% } %>

			</div> <!-- card-body.// -->
		</article>


	</main> <!-- col.// -->
</div>

</div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

<%- include("partial/footer")%>

<script type="text/javascript">
	$(".shopping-cart").click(function(e){
    e.preventDefault();

    console.log(e.currentTarget.id)
    
    $.ajax({
        url: "/add-to-car",
        type: 'POST',
        data: {
            id: e.currentTarget.id 
        },
        success: function(data){
            
            reload_car_length()
            cart_alert(data.msg, data.icon)

            //$(e.target).parent().remove()

        }, 
        
        timeout: 5000
    })
})

</script>
<!-- <script type="text/javascript" src="/js/add_to_car.js"></script> -->


</body>
</html>