<!DOCTYPE HTML>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="pragma" content="no-cache" />
<meta http-equiv="cache-control" content="max-age=604800" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<meta name="description" content="Bootstrap e-commerce html template similar to Alibaba">
<meta name="keywords" content="Online template, shop, theme, template, html, css, bootstrap 4">

<title>Website title - bootstrap alistyle html template</title>

<link href="images/favicon.ico" rel="shortcut icon" type="image/x-icon">

<!-- jQuery -->
<script src="js/jquery-2.0.0.min.js" type="text/javascript"></script>

<!-- Bootstrap4 files-->
<script src="js/bootstrap.bundle.min.js" type="text/javascript"></script>
<link href="css/bootstrap.css" rel="stylesheet" type="text/css"/>

<!-- Font awesome 5 -->
<link href="fonts/fontawesome/css/all.min.css" type="text/css" rel="stylesheet">

<!-- custom style -->
<link href="css/ui.css" rel="stylesheet" type="text/css"/>
<link href="css/responsive.css" rel="stylesheet" type="text/css" />

<!-- custom javascript -->
<script src="js/script.js" type="text/javascript"></script>

</head>
<body>


<%- include("partial/menu")%>

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<header>
				<!-- Navbar -->
				<div class="jumbotron color-grey-light mt-70">
				  <div class="d-flex align-items-center h-100">
					<div class="container text-center py-5">
					  <h3 class="mb-0">Shopping cart</h3>
					</div>
				  </div>
				</div>
			  </header>

			  <div>
				<div class="container bg-white rounded-top mt-5" id="zero-pad">
					<div class="row d-flex justify-content-center">
						<div class="col-lg-10 col-12 pt-3">
							<div class="d-flex">
								<div class="pt-1">
									<h4>My T-shirt</h4>
								</div>
								<div class="ml-auto p-2"><a href="#" class="text-dark text-decoration-none" id="mobile-font">LOGIN</a></div>
								<div class="p-2"><a href="#" class="text-dark text-decoration-none a" id="mobile-font">HELP</a></div>
							</div>
							<div class="d-flex flex-column pt-4">
								<div>
									<h5 class="text-uppercase font-weight-normal">shopping bag</h5>
								</div>
								<div class="font-weight-normal">2 items</div>
							</div>
							<div class="d-flex flex-row px-lg-5 mx-lg-5 mobile" id="heading">
								<div class="px-lg-5 mr-lg-5" id="produc">PRODUCTS</div>
								<div class="px-lg-5 ml-lg-5" id="prc">PRICE</div>
								<div class="px-lg-5 ml-lg-1" id="quantity">QUANTITY</div>
								<div class="px-lg-5 ml-lg-3" id="total">TOTAL</div>
							</div>
							<div class="d-flex flex-row justify-content-between align-items-center pt-lg-4 pt-2 pb-3 border-bottom mobile">
								<div class="d-flex flex-row align-items-center">
									<div><img src="https://images.unsplash.com/photo-1529374255404-311a2a4f1fd9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" width="150" height="150" alt="" id="image"></div>
									<div class="d-flex flex-column pl-md-3 pl-1">
										<div>
											<h6>COTTON T-SHIRT</h6>
										</div>
										<div>Art.No:<span class="pl-2">091091001</span></div>
										<div>Color:<span class="pl-3">White</span></div>
										<div>Size:<span class="pl-4"> M</span></div>
									</div>
								</div>
								<div class="pl-md-0 pl-1"><b>$9.99</b></div>
								<div class="pl-md-0 pl-2"> <span class="fa fa-minus-square text-secondary"></span><span class="px-md-3 px-1">2</span><span class="fa fa-plus-square text-secondary"></span> </div>
								<div class="pl-md-0 pl-1"><b>$19.98</b></div>
								<div class="close">&times;</div>
							</div>
							<div class="d-flex flex-row justify-content-between align-items-center pt-4 pb-3 mobile">
								<div class="d-flex flex-row align-items-center">
									<div><img src="https://images.unsplash.com/photo-1529374255404-311a2a4f1fd9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" width="150" height="150" alt="" id="image"></div>
									<div class="d-flex flex-column pl-md-3 pl-1">
										<div>
											<h6>WHITE T-SHIRT</h6>
										</div>
										<div>Art.No:<span class="pl-2">056289891</span></div>
										<div>Color:<span class="pl-3">White</span></div>
										<div>Size:<span class="pl-4"> XL</span></div>
									</div>
								</div>
								<div class="pl-md-0 pl-1"><b>$20.9</b></div>
								<div class="pl-md-0 pl-2"> <span class="fa fa-minus-square text-secondary"></span><span class="px-md-3 px-1">2</span><span class="fa fa-plus-square text-secondary"></span> </div>
								<div class="pl-md-0 pl-1"><b>$41.8</b></div>
								<div class="close">&times;</div>
							</div>
						</div>
					</div>
				</div>
				<div class="container bg-light rounded-bottom py-4" id="zero-pad">
					<div class="row d-flex justify-content-center">
						<div class="col-lg-10 col-12">
							<div class="d-flex justify-content-between align-items-center">
								<div> <button class="btn btn-sm bg-light border border-dark">GO BACK</button> </div>
								<div class="px-md-0 px-1" id="footer-font"> <b class="pl-md-4">SUBTOTAL<span class="pl-md-4">$61.78</span></b> </div>
								<div> <button class="btn btn-sm bg-dark text-white px-lg-5 px-3">CONTINUE</button> </div>
							</div>
						</div>
					</div>
				</div>
			  </div>
		</div>
	</div>
</div>	
<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y">
<div class="container">

<div class="row">
	<aside class="col-md-3 d-none">
		<nav class="list-group">
			<a class="list-group-item" href="page-profile-main.html"> Account overview  </a>
			<a class="list-group-item" href="page-profile-address.html"> My Address </a>
			<a class="list-group-item" href="page-profile-orders.html"> My Orders </a>
			<a class="list-group-item active" href="page-profile-wishlist.html"> My wishlist </a>
			<a class="list-group-item" href="page-profile-seller.html"> My Selling Items </a>
			<a class="list-group-item" href="page-profile-setting.html"> Settings </a>
			<a class="list-group-item" href="page-index-1.html"> Log out </a>
		</nav>
	</aside> <!-- col.// -->
	<main class="col-md-7">
		<h3>CARRITO</h3>
		<hr>
		<article class="">
			<div class="">

		<div class="row">

			<% for (var i = 0; i < basket.length; i++) { %>
				
				<div class="col-md-12 topinfo">
					<figure class="itemside mb-4">
						<div class="aside"><img src="/public/products/<%= basket[i].images[0]%>" class=" img-md"></div>
						<figcaption class="info">
							<a href="/product/<%= basket[i].product_name%>?q=<%= basket[i].id%>" class="title"><%= basket[i].product_name%></a>
							<p class="price mb-2">$<%= basket[i].product_price.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,')%></p>
							<a href="#" class="btn btn-danger"> Comprar </a>
							<a href="#" class="btn btn-secondary shopping-cart" id="<%= basket[i].id%>"> <i class="fa fa-times"></i> </a>

						</figcaption>
					</figure>
				</div> <!-- col.// -->

			<% } %>

			</div> <!-- card-body.// -->
		</article>


	</main> <!-- col.// -->


	<main class="col-md-5">
		<h3>COMPRAS</h3>
		<hr>
		<article class="">
			<div class="">

		<div class="row">

			<% for (var i = 0; i < shopping_data.length; i++) { %>
				
				<div class="col-md-12 topinfo">
					<figure class="itemside mb-4">
						<div class="aside"><img src="/public/products/<%= shopping_media[i].images[0]%>" class=" img-md"></div>
						<figcaption class="info">
							<a href="/product/<%= shopping_media[i].product_name %>?q=<%= shopping_media[i].id%>" class="title"><%= shopping_media[i].product_name%></a>



							<p class="price mb-2 badge d-block text-left">CANTIDAD: <%= shopping_data[i].quantity%></p>

							<p class="price mb-2 badge d-block text-left">PRECIO DEL PRODUCTO: <%= shopping_media[i].product_price.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,')%></p>

							<p class="price mb-2 badge d-block text-left">TOTAL A PAGAR: $<%= (shopping_media[i].product_price * shopping_data[i].quantity).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,')%></p>
							
							<p class="price mb-2 badge d-block text-left">ESTADO: <%= shopping_data[i].status%></p>

							<form action="/delete-shopping?product_id=<%= shopping_data[i].product_id%>" method="POST">
								<button type="submit" class="btn btn-sm btn-danger">Eliminar Compra</button>
							</form>

						</figcaption>
					</figure>
				</div> <!-- col.// -->

			<% } %>

			</div> <!-- card-body.// -->
		</article>


	</main> <!-- col.// -->
</div>

</div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

<%- include("partial/footer")%>

<script type="text/javascript">
	$(".shopping-cart").click(function(e){
    e.preventDefault();

    console.log(e.currentTarget.id)
    
    $.ajax({
        url: "/add-to-car",
        type: 'POST',
        data: {
            id: e.currentTarget.id 
        },
        success: function(data){
            
            reload_car_length()
            cart_alert(data.msg, data.icon)

            //$(e.target).parent().remove()

        }, 
        
        timeout: 5000
    })
})

</script>
<!-- <script type="text/javascript" src="/js/add_to_car.js"></script> -->


</body>
</html>